@import "../../../styles.scss";

section.imprint-section {
  @include sectionFlexColumn;
  background-color: #b1aea6;

  .imprint-txt {
    width: 80%;

    p {
      font-family: "Montserrat";
      font-weight: 300;
    }
    span {
      font-family: "Ovo";
      font-size: 1.25rem;
    }

    a {
      font-weight: 500;
      color: #c0704b;
    }
  }
}
