<section class="imprint-section" id="imprint">
  <div class="imprint-txt">
    <h1>Imprint</h1>
    <p>Information according to § 5 TMG</p>
    <br />
    <p>
      <span class="company">Timeless Interiors</span> <br />
      Wernerstraße 18<br />
      01159 Dresden <br />
    </p>
    <br />
    <p>
      <strong>Represented by: </strong><br />
      Michael Buschmann
      <br />
      <br />
    </p>
    <p>
      <strong>Contact:</strong>
      <br />
      Phone:
      <a class="mark-link" href="tel: +49 015205383733">0152 05 38 37 33</a>
      <br />
      E-Mail:
      <a class="mark-link" href="mailto:m.buschmann&#64;web.de"
        >m.buschmann&#64;web.de</a
      >
    </p>
    <br />
    <p>
      <strong>Sales tax ID: </strong>
      <br />
      Sales tax identification number according to §27a sales tax law:
      <br />DE 17435413 9
      <br />
      <br />
      <strong>Business ID: </strong>
      <br />
      44/843/58805<br />
      <br />
    </p>
    <p>
      <strong>Supervisory authority:</strong>
      <br />
      Tax office Dresden Nord
      <br />
      <br />
    </p>
    <p>
      <strong
        >Responsible for the content according to § 55 Abs. 2 RStV:</strong
      >
      <br />
      Michael Buschmann <br />
      Wernerstraße 18<br />
      01159 Dresden <br />
    </p>
    <br />
    <p>
      <strong>Disclaimer: </strong>
      <br />
      <br />
      <strong>Liability for Content</strong>
      <br />
      <br />
      The content of our pages has been created with the utmost care. However,
      we cannot guarantee the accuracy, completeness, or timeliness of the
      content. As a service provider, we are responsible for our own content on
      these pages according to general laws, as per § 7 Abs.1 TMG. According to
      §§ 8 to 10 TMG, we are not obligated to monitor transmitted or stored
      external information or to investigate circumstances indicating illegal
      activity.
      <br />
      Obligations to remove or block the use of information according to general
      laws remain unaffected. However, liability in this regard is only possible
      from the point in time at which a concrete infringement of the law becomes
      known. Upon becoming aware of such legal violations, we will remove this
      content immediately.
      <br />
      <br />
      <strong>Liability for Links </strong>
      <br />
      <br />
      Our offer contains links to external websites of third parties, on whose
      contents we have no influence. Therefore, we cannot assume any liability
      for these external contents. The respective provider or operator of the
      linked sites is always responsible for their content. The linked sites
      were checked for possible legal violations at the time of linking. Illegal
      contents were not recognizable at the time of linking. However, a
      permanent content control of the linked pages is not reasonable without
      concrete evidence of a legal infringement. Upon becoming aware of legal
      violations, we will remove such links immediately.

      <br />
      <br />
      <strong>Copyright </strong>
      <br />
      <br />
      The content and works created by the site operators on these pages are
      subject to German copyright law. The duplication, processing,
      distribution, and any kind of exploitation outside the limits of copyright
      require the written consent of the respective author or creator.
      <br />
      Downloads and copies of this site are permitted for private,
      non-commercial use only. Insofar as the content on this site was not
      created by the operator, the copyrights of third parties are respected. In
      particular, third-party content is marked as such. Should you nonetheless
      become aware of a copyright infringement, please inform us accordingly.
      Upon becoming aware of legal violations, we will remove such content
      immediately.

      <br />
      <br />
      <strong>Data Protection </strong>
      <br />
      <br />
      The use of our website is generally possible without providing personal
      data. As far as personal data (such as name, address, or email addresses)
      is collected on our pages, this is always done on a voluntary basis as
      much as possible. These data will not be passed on to third parties
      without your explicit consent. We point out that data transmission over
      the internet (e.g., when communicating by e-mail) can have security gaps.
      <br />
      A complete protection of data from access by third parties is not
      possible. The use of contact data published within the framework of the
      imprint obligation by third parties for sending unsolicited advertising
      and information materials is hereby expressly prohibited. The operators of
      the pages expressly reserve the right to take legal action in the event of
      the unsolicited sending of advertising information, such as through spam
      emails.
      <br />
    </p>
  </div>
</section>
