.heading {
  margin-top: 6vh;
}

section.home {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("/assets/img/interior.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
