<footer>
  <div class="footer-container">
    <a class="logo" href="#home"> TS.</a>

    <div class="internal-links">
      <a href="#"
        >contact
        <div class="underline"></div>
      </a>

      <a href="imprint"
        >imprint
        <div class="underline"></div>
      </a>
    </div>

    <div class="external-links">
      <a href="https://de-de.facebook.com/" target="_blank">
        <img src="assets/img/facebook_white.png" alt="Facebook-Icon" />
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="assets/img/instagram_white.png" alt="Instagram-Icon" />
      </a>
      <a href="https://twitter.com/i/flow/login" target="_blank">
        <img src="assets/img/twitter_white.png" alt="Twitter-Icon" />
      </a>
    </div>
  </div>
</footer>
