<section class="materials" id="materials">
  <h2>materials.</h2>
  <div class="materials-txt">
    <p>
      <img class="materials-img" src="assets/img/materials.jpeg" alt="" />

      <span>Materials in Wabi-Sabi Interior Design </span>
      <br />
      <br />
      Our interiors are a testament to the beauty of natural materials. His
      designs emphasize the use of wood, stone, natural fabrics, and clay, each
      chosen for their authenticity and tactile qualities.
      <br />
      <br />
      Wood, with it's rich grain and warmth, brings a sense of timelessness and
      connection to nature. We celebrate it's imperfections, such as knots and
      variations, which add character and history to the space. Stone, in it's
      raw and weathered forms, grounds his interiors with strength and
      stability, embodying the passage of time.
      <br />
      <br />
      Natural fabrics like linen and cotton contribute to the serene and
      understated luxury of Timeless Interiors designs. Their textures and
      subtle hues create a soothing, organic atmosphere. Clay, often seen in
      handcrafted pottery, adds an artisanal touch, reminding us of the beauty
      in handmade objects.
      <br />
      <br />
      In our hands, these materials transform interiors into harmonious
      sanctuaries. Each element is carefully selected to enhance the sense of
      simplicity, authenticity, and connection to the natural world, hallmarks
      of the Wabi-Sabi philosophy.
    </p>
  </div>
</section>
