<section class="inspirations" id="inspirations">
  <h2>inspirations.</h2>
  <div class="inspirations-txt">
    <p>
      Explore some of our interior designs, where the essence of Wabi-Sabi comes
      to life through the thoughtful use of natural inspirations.
      <br />
      <br />

      Each space features the rich textures of wood, the enduring strength of
      stone, the softness of natural fabrics, and the artisanal charm of clay.
      These elements, chosen for their authenticity and beauty, create interiors
      that are serene, timeless, and deeply connected to nature.
      <br />
      <br />

      <span
        >Let the images inspire you to embrace the simplicity and elegance of
        Wabi-Sabi in your own home.</span
      >
    </p>
  </div>

  <ul class="gallery">
    <li>
      <figure>
        <a>
          <img class="inspirations-img" src="assets/img/kitchen.jpeg" alt="" />
        </a>
        <figcaption>
          <main>
            <h3>Kitchen <em> by Aubrey Lynn</em></h3>
            <p>
              This kitchen radiates serene elegance, blending natural wood and
              stone for a timeless, warm aesthetic.
            </p>
          </main>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a>
          <img class="inspirations-img" src=" assets/img/dining.jpeg" alt="" />
        </a>
        <figcaption>
          <main>
            <h3>Dining Room <em>by Greg Porter</em></h3>
            <p>
              Tranquil elegance, featuring natural wood and stone elements for a
              sophisticated, inviting ambiance.
            </p>
          </main>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a>
          <img
            class="inspirations-img"
            src=" assets/img/working-room.jpeg"
            alt=""
          />
        </a>
        <figcaption>
          <main>
            <h3>Working <em>by Ed Marsh</em></h3>
            <p>
              Focused creativity, combining earthy materials and minimalist
              design for a serene, productive space.
            </p>
          </main>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a>
          <img class="inspirations-img" src=" assets/img/bedroom.jpeg" alt="" />
        </a>
        <figcaption>
          <main>
            <h3>Bedroom <em>by Macy Gray</em></h3>
            <p>
              A peaceful retreat, blending warm tones and soft linens for a
              restful, calm sanctuary.
            </p>
          </main>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a>
          <img class="inspirations-img" src="assets/img/living.jpeg" alt="" />
        </a>
        <figcaption>
          <main>
            <h3>Living <em>by Otto Kirsh</em></h3>
            <p>
              Calming elegance, with organic textures and neutral tones creating
              a timeless, cozy atmosphere.
            </p>
          </main>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a>
          <img
            class="inspirations-img"
            src="assets/img/conservatory.jpeg"
            alt=""
          />
        </a>
        <figcaption>
          <main>
            <h3>Conservatory <em>by Ann Clark</em></h3>
            <p>
              Serene beauty, using natural materials and abundant light to
              create a welcoming, tranquil space.
            </p>
          </main>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
